<a href="https://colab.research.google.com/github/jmbarrios/THC-Python/blob/main/20211014-IntroPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install rich

Collecting rich
  Downloading rich-10.12.0-py3-none-any.whl (212 kB)
     |████████████████████████████████| 212 kB 5.3 MB/s
Requirement already satisfied: typing-extensions<4.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from rich) (3.7.4.3)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from rich) (2.6.1)
Collecting colorama<0.5.0,>=0.4.0
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 4.6 MB/s
Installing collected packages: commonmark, colorama, rich
Successfully installed colorama-0.4.4 commonmark-0.9.1 rich-10.12.0

In [2]:
from rich import (print,
                  inspect)

## Narración

En el siguiente ejemplo tenemos 8 registros de observaciones de pingüinos, en cada observación se registraron algunos datos que se consideran importantes para realizar un estudio. Los datos registrado son:

 * species
 * island
 * bill_length_mm
 * bill_depth_mm
 * flipper_length_mm
 * body_mass_g
 * sex

![penguin_measuremnts](https://www.researchgate.net/profile/Miguel-Ferrer-5/publication/309435923/figure/fig2/AS:421508477657089@1477506860171/Measure-of-bill-length-and-upper-bill-depth-to-the-nearest-01-mm.png)

In [3]:
records = [
    ['Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'Male'], 
    ['Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'Female'], 
    ['Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'Female'],
    ['Adelie', 'Torgersen', None, None, None, None, None], 
    ['Gentoo', 'Biscoe', 46.8, 14.3, 215.0, 4850.0, 'Female'], 
    ['Gentoo', 'Biscoe', 50.4, 15.7, 222.0, 5750.0, 'Male'],
    ['Gentoo', 'Biscoe', 45.2, 14.8, 212.0, 5200.0, 'Female'], 
    ['Gentoo', 'Biscoe', 49.9, 16.1, 213.0, 5400.0, 'Male']
]

* Extraer un registro de la lista.

* Incluir el dato de la persona que hizo la medición en este caso fue **Marcus Holmes**.

* Incluir el nombre científico para Adelie es _Pygoscelis adeliae_ en la primera entrada.

* Agregar el valor del continente al registro después del valor de la isla, en este caso el continente es **Antartica**.

* Hacer dos conjuntos de datos uno para los pingüinos **Adelie** y otro para los **Gentoo**

* Hacer un listado para los números de 5.

In [4]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 
        14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

## Narración 2

Un científico (_de datos_) después de analizar las observaciones se dió cuenta que si se multiplican los valores `bill_length_mm` y `bill_depth_mm`, y además considera el valor `flipper_length_mm` puede entrenar un perceptron para predecir la especie de pingüino. Por lo que decide empezar a transformar los registros para tener este valor disponible y lo agrega al final de la lista.

El equipo de manejo de datos se dió cuenta que pasaron por alto incluir un dato muy importante, la fecha que se registro el dato por lo que ahora incluye este valor en la primera columna.

In [5]:
records = [
    ['08/10/2018 04:28 AM', 'Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'Male'], 
    ['11/22/2018 10:25 PM', 'Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'Female'], 
    ['08/10/2018 06:53 AM', 'Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'Female'], 
    ['02/04/2018 06:18 PM', 'Adelie', 'Torgersen', None, None, None, None, None], 
    ['10/29/2018 05:47 AM', 'Gentoo', 'Biscoe', 46.8, 14.3, 215.0, 4850.0, 'Female'], 
    ['10/11/2018 05:09 PM', 'Gentoo', 'Biscoe', 50.4, 15.7, 222.0, 5750.0, 'Male'], 
    ['05/31/2018 05:14 PM', 'Gentoo', 'Biscoe', 45.2, 14.8, 212.0, 5200.0, 'Female'], 
    ['02/04/2018 05:25 AM', 'Gentoo', 'Biscoe', 49.9, 16.1, 213.0, 5400.0, 'Male']
]

Es por esto que existe otra estructura de datos en **Python** los diccionarios (_hash tables_).

In [6]:
columnas = ['date', 'species', 'island', 'bill_length_mm', 'bill_depth_mm', 
            'flipper_length_mm', 'body_mass_g', 'sex']